		<div class="SureSidebarSectionTitle SureWalletLabel">
			#{__.phrases.new_users}
		</div>
		<table class="SureSidebarSectionFrame" cellspacing="0" cellpadding="0">
			<tr>
				<td class="SureSidebarSectionInnerFrame" style="cursor:pointer" onclick="javascript:self.location='#{__.ftuUrl}'">
					<p class="WalletFTUPromtionDisplay1">#{__.ftuValue} #{__.phrases.FREE}*</p>
					<p class="WalletFTUPromtionDisplay2">#{__.phrases.viewing_credit}</p>
					<p class="WalletFTUPromtionDisplay3">*#{__.phrases.no_purchase_required}</p>
				</td>
			</tr>
			<tr>
				<td class="SureSidebarSectionInnerFrame">
					<a id="SureWalletBulletStartHere#{__.idModifier}" class="SureWalletBullet" href="javascript:WalletLink('#{__.ftuUrl}')">#{__.phrases.start_here}</a>
				</td>
			</tr>
		</table>
